.post{
  margin-left: 5px;
}
.plus{
  margin: auto;
  margin-right: 0;
}

.btn{
  width:160px;
  height: 35px;
  color: white;
  background: #800080 0% 0% no-repeat padding-box;
border: 1px solid #800080;
border-radius: 30px;
opacity: 1;
}
input#file_upload_button{
  border-color: #ae65bb;
  color: black;
  background-color: #cbffed;
  border-radius: 5px;

}

