<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar">
    <header>
      <img src="/assets/slogo.png">
    </header>
    <div class="link">
      <div class="feed">
    <i class="bi bi-house-door"  style="color: white;"></i>
<a routerLink="/home" style="color: white; margin-left: 10px;">News Feed</a>
</div>
<br>
<div class="feed">
  <i class="bi bi-house-door"  style="color: white;"></i>
<a routerLink="/manage" style="color: white; margin-left: 10px;">Manage Info</a>
</div>
<br />
<div class="feed">
  <i class="bi bi-house-door"  style="color: white;"></i>
  <a routerLink="/feed" style="color: white; margin-left: 10px;">Leaderboard</a>
</div>
</div>
</div>
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
    </div>
  </div>
</div>
